img {
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
}

/* body {
  padding: 8px;
} */

/* * {
  border: chocolate 1px solid;
} */

html {
  scroll-behavior: smooth;
}

ul {
  & li {
    list-style-type: none;
    & a {
      text-decoration: none;
    }
  }
}

header {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background: white;
  position: fixed;
  width: 100%;
  & #banniere {
    text-align: center;
    display: none;
  }
  & .flex {
    display: flex;
  }
  & #logo > img {
    width: 100px;
  }
  & nav {
    flex-grow: 1;
    & ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3%;
      /* justify-content: space-around; */
      height: 100%;
      & li {
        & a {
          font-size: 16px;
          /* Add styles here if needed */
        }
      }
    }
  }
}

main {
  text-align: center;
  & section#hero {
    /* background-image: url("./image3.webp");
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-position: center bottom; */
    /* object-fit: cover; */
    /* background: url("./image3.webp") no-repeat top center/cover; */
    /* background-attachment: fixed; */
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    & #video1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
      /* right: 0; */
      /* top: 0; */
      /* left: 0; */
      /* overflow-x: hidden; */
      /* max-width: 100% !important; */
      /* max-height: 100%; */
      /* bottom: 0; */
    }
    & #hero_content {
      /* display: flex; */
      /* flex-direction: column; */
      width: 50%;
      position: absolute;
      padding: 8px;
      background-color: rgba(218, 106, 106, 0.658);
      border-radius: 25% 25%;
      /* margin: auto; */
      & h1 {
        text-shadow: 5px 5px 15px black;
      }
      & p {
        text-align: justify;
        padding: 8px;
      }
      & button {
        padding: 8px;
        border: 3px solid red;
        background: rgba(0, 0, 255, 0.692);
        border-radius: 8px;
        color: white;
      }
      button:hover {
        background: red;
        color: white;
      }
    }
  }
  & section#A_Propos {
    height: 800px;
  }

  & section#Experiences {
    position: relative;
    /* padding-top: 70px; */
    height: 800px;
    & #intro {
      background: grey;
      position: absolute;
      width: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  & section#Contact {
    height: 800px;
  }
}
