img {
  max-width: 100%;
}

/* * {
  border: chocolate 1px solid;
} */

html {
  scroll-behavior: smooth;
}

ul {
  & li {
    list-style-type: none;
    & a {
      text-decoration: none;
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  background: white;
  position: fixed;
  width: 100%;
  & #banniere {
    text-align: center;
    display: none;
  }
  & .flex {
    display: flex;
  }
  & #logo > img {
    width: 100px;
  }
  & nav {
    flex-grow: 1;
    & ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3%;
      /* justify-content: space-around; */
      height: 100%;
      & li {
        & a {
          font-size: 16px;
          /* Add styles here if needed */
        }
      }
    }
  }
}

main {
  text-align: center;
  & section#hero {
    /* background-image: url("./image3.webp");
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-position: center bottom; */
    /* object-fit: cover; */
    background: url("./image3.webp") no-repeat top center/cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & #hero_content {
      /* display: flex; */
      /* flex-direction: column; */
      width: 50%;
      /* margin: auto; */
      & h1 {
        text-shadow: 5px 5px 15px black;
      }
      & p {
        text-align: justify;
      }
      & button {
        font-size: 17px;
        border: 3px solid red;
        background: white;
        color: red;
      }
      button:hover {
        background: red;
        color: white;
      }
    }
  }
  & section#A_Propos {
    height: 800px;
  }

  & section#Experiences {
    height: 800px;
  }
  & section#Contact {
    height: 800px;
  }
}
